{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans " - Reset password" %}{% endblock %}

{% block content %}
  <div class="well primary-header">
    <h2>{% trans 'Password Reset' %}</h2>
  </div>

  <p>{% trans "Enter your new password below to reset your password:" %}</p>

  <form method="post" action="" class="form-horizontal col-sm-8 col-md-6 col-lg-5" role="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_new_password1" class="col-sm-5 control-label">{% trans 'New password:' %}</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" id="id_new_password1" name="new_password1"
               placeholder="{% trans 'New password' %}" />
      </div>
    </div>
    <div class="form-group">
      <label for="id_new_password2" class="col-sm-5 control-label">{% trans 'Confirm new password:' %}</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" id="id_new_password2" name="new_password2"
               placeholder="{% trans 'Confirm new password' %}" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-7">
        <button type="submit" class="btn btn-default">{% trans "Set password" %}</button>
      </div>
    </div>
  </form>
{% endblock %}
