{% load admin_urls i18n pipeline %}
{% url 'home' as home_url %}
{% url 'meet' as meet_url %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans 'Censeo' %} {% block title %}{% endblock %}</title>

  <link rel="shortcut icon" href="{{ STATIC_URL }}censeo/img/favicon.ico" />
  {% stylesheet 'base' %}
  {% block css %}{% endblock %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
      // Just in case the CDN isn't available...
      window.html5 || document.write(
        '<script src="{{ STATIC_URL }}censeo/libs/html5shiv/html5shiv.min.js"><\/script>'
      );
      window.respond || document.write(
        '<script src="{{ STATIC_URL }}censeo/libs/respond/respond.min.js"><\/script>'
      );
    </script>
  <![endif]-->

</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
          <span class="sr-only">{% trans 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
          <strong>{% trans 'Censeo' %}</strong>
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li{% if request.path == home_url %} class="active"{% endif %}>
            <a href="{{ home_url }}">{% trans 'Home' %}</a>
          </li>
          <li{% if request.path == meet_url %} class="active"{% endif %}>
            <a href="{{ meet_url }}">{% trans 'Meet' %}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'register_new_user' %}">{% trans 'Sign Up' %}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
    // Just in case the CDN isn't available...
    window.jQuery || document.write(
      '<script src="{{ STATIC_URL }}censeo/libs/jQuery/jquery.min.js"><\/script>'
    );
  </script>
  {% javascript 'base' %}
  {% block js %}{% endblock %}

</body>

</html>
