{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <div class="well">
    <h1>
      {% trans 'Welcome to Censeo' %}
      <img src="{{ STATIC_URL }}censeo/img/coffee.png" class="pull-right coffee-img" />
    </h1>
    <p>
      {% blocktrans %}
        Censeo is a small app designed to streamline your team's
        <a href="http://en.wikipedia.org/wiki/Planning_poker">planning poker</a> meetings. Check out
        the project <a href="https://github.com/cjflory/censeo/blob/master/readme.md">readme</a> for
        a quick introduction to how Censeo works.
      {% endblocktrans %}
    </p>
    <p>
      <a href="{% url 'meet' %}" class="btn btn-primary" role="button">
        {% trans 'Take me to the meeting!' %}
      </a>
    </p>
  </div>
  <small class="pull-right">
    {% blocktrans %}
      Please <a href="https://github.com/cjflory/censeo/issues">report</a> any bugs or
      suggestions.
    {% endblocktrans %}
  </small>

{% endblock %}
