{% extends 'base.html' %}
{% load compressed %}


{% block title %}Meeting{% endblock %}

{% block content %}
  <div class="well primary-header">
    <h2>
      {{ meeting.start|date:DATE_FORMAT.LONG }}
      <span class="panel pull-right" id="meetingId"
            data-meeting-id="{{ meeting.id }}">
        {{ meeting.id }}
      </span>
      <span class="clearfix"></span>
    </h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tickets</h3>
        </div>
        <div class="panel-body">
          <div id="tickets" data-poll-url="{% url 'poll_tickets' meeting.id %}">
            {% include 'censeo/snippets/tickets.html' with tickets=meeting.tickets.all %}
          </div>
          <form action="{% url 'add_ticket' %}" method="post" id="addTicket" class="add-ticket-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Add Ticket" id="addTicketInput" name="id"
                     autocomplete="off" />
              <input type="hidden" name="meeting" value="{{ meeting.id }}" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-plus"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Voting</h3>
        </div>
        <div id="voting" class="panel-body">
          {% include 'censeo/snippets/voting.html' %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Users</h3>
        </div>
        <div id="users" class="panel-body" data-poll-url="{% url 'poll_users' meeting.id %}">
          {% include 'censeo/snippets/users.html' with users=meeting.voters.all %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  {% compressed_js 'meet' %}
  <script type="application/javascript">
    (function () {
      var censeo = window.censeo || (window.censeo = {});

      censeo.defaultVotingHtml = '{{ DEFAULT_VOTING_HTML|safe }}';
    }());
  </script>
{% endblock %}
